{% extends "accounts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="card">
    <h2>Login</h2>

    <input id="username" placeholder="Username">
    <input id="password" type="password" placeholder="Password">

    <button onclick="login()">Login</button>

    <p id="error" class="error"></p>
</div>

<script>
async function login() {
    const res = await fetch('/api/login/', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        })
    });

    const data = await res.json();

    if (data.access) {
        localStorage.setItem('access', data.access);
        window.location.href = '/profile/';
    } else {
        document.getElementById('error').innerText = "Wrong login";
    }
}
</script>

{% endblock %}