{% extends "accounts/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="card">
    <h2>Market Signals</h2>

    <p id="btcTrend">Loading BTC...</p>
    <p id="ethTrend">Loading ETH...</p>

</div>


<script>

// ✅ INIT
function getToken() {
    return localStorage.getItem('access');
}



// ✅ TREND FETCH
async function getTrend(symbol, elementId) {

    const token = getToken();

    // ❌ brak tokena → redirect
    if (!token) {
        window.location.href = '/login/';
        return;
    }

    try {
        const res = await fetch(`/api/trend/?symbol=${symbol}`);

        // ❌ token expired / auth error
        if (res.status === 401) {
            logout();
            return;
        }

        const data = await res.json();

        const el = document.getElementById(elementId);

        if (data.trend === "bullish") {
            el.className = "trend-bull";
            el.innerText = `🚀 ${symbol} Bullish (${Math.round(data.price)})`;
        } else {
            el.className = "trend-bear";
            el.innerText = `🔻 ${symbol} Bearish (${Math.round(data.price)})`;
        }

    } catch (err) {
        console.error("Trend error:", err);
    }
}

// ✅ LOAD ALL SIGNALS
function loadSignals() {
    getTrend("BTCUSDT", "btcTrend");
    getTrend("ETHUSDT", "ethTrend");
}

// ✅ AUTO REFRESH co 5s
setInterval(loadSignals, 5000);

// ✅ FIRST LOAD
loadSignals();

</script>

{% endblock %}